@model Curso
@{
    ViewData["Title"] = "Actualizar curso";
    Layout = "Forms";
}  

<h1> @ViewData["Title"]</h1>

<div asp-validation-summary="All"></div>

<div class="contenido">

<form method="POST">
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre">
    </div>
    <div>
        <label asp-for="Dirección"></label>
        <input asp-for="Dirección">
    </div>
    <div>
        @Html.DropDownList(
            "Jornada", 
            Html.GetEnumSelectList<TiposJornada>(),
            "Selecione una jornada",
            new {@class = "form-control"}
        )
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

</div>
